.categoryMenu{
  .category-list{
    height: 74vh;
    position: relative;
    margin: 13vh 0;
    overflow: auto;
    .category-item{
      color: #FDFDFD;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      text-align: center;
      overflow: hidden;
      padding: 1rem 0;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        height: 1px;
        border-radius: 60%;
        width: 150px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgb(111,72,72);
        background: linear-gradient(90deg, rgba(111,72,72,1) 0%, rgba(146,35,31,1) 20%, rgba(228,54,48,1) 50%, rgba(146,35,31,1) 80%, rgba(111,72,72,1) 100%);
      }
    }
  }
  .close-button{
    position: fixed;
    top: 91vh;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
